/* styles.css */

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0rem 3rem;
}

header {
    color: black;
    padding: 10px 0;
    text-align: center;
    padding: 1rem;
}
header .logo h1 img{
    width: 50px;
}

header .logo h1 {
    margin: 0;
    font-size: 29pt;
}
header .logo p{
    padding: 1rem;

}

nav ul {
    display: flex; /* Cambiar a display flex para alinear los elementos */
    justify-content: center; /* Centrar los elementos horizontalmente */
    list-style-type: none; /* Eliminar los puntos de la lista */
    padding: 0; /* Eliminar el padding predeterminado */
}

nav ul li {
    margin: 0 10px; /* Espacio entre elementos de la lista */
}

nav ul a {
    text-decoration: none;
    color: black;
    font-size: 14px; /* Tamaño de fuente ajustado */
}

main {
    padding: 20px;
}

.featured-news {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.carousel-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    transition: left 0.5s;
}

.carousel-item.active {
    left: 0;
}

.carousel-item.previous {
    left: -100%;
}

.section-news {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.section {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
    margin-top: 0;
}

.section article {
    margin-bottom: 20px;
}

footer {
    color: black;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
